<div class="container-fluid">
	<div class="row" align="center">
		<div class="col bg-dark text-white">
			<H1> BOOK STORE APP</H1>
		</div>
	</div>
	<div class="row">
		<div class="col-3 p-2">
			<button class="btn btn-outline-primary btn-block" (click)="changeType()">Home</button>
      <button *ngFor = "let type of types" class="btn btn-outline-primary btn-block" [class.active]="newType == selectedType" (click)="changeType(type)">{{type}}</button>
    </div>
    <div class="col-9 p-2">
      <div *ngFor="let book of books;">{{book.name}}</div>
    </div>
</div>
</div>